<ion-view view-title="home" class="green-bg home-content">
<img src="img/logo-white.png"/>
                <div class="row bottom-div responsive-sm">
                    <button ui-sref="signup" class="col col-80 col-offset-10 button button-block button-light lightButton" type="submit">Sign Up</button>
                    
                    <button  ui-sref="login" class="col col-80 col-offset-10 button button-block transparentButton"  type="submit">Log in</button>
                </div>

</ion-view>
