<ion-view class="">
    <div class="bar bar-header green-bg" style="border-width:0px">
        <button class="button button-icon icon ion-navicon"  style="color:white;"></button>
        <div class="h1 title" style="color:white">Offers</div>
        <button class="button button-clear"><i class="icon ion-search" style="color:white;"></i></button>
    </div>
    <div class="green-bg" style="padding-top:45px;">
        <label class="item item-input item-select green-bg" style="color:white" >
            <div class="input-label" style="color:white">
                Select Currency
            </div>
            <select   style="color:white; background-color:#40c973" >
                <option>$ - USD</option>
                <option selected>£ - GBP</option>
                <option>N - NGN</option>
            </select>
        </label>
        <div class="list">
            
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                    <h2>Rachel Stanley</h2>
                    <p>GBP <-> USD</p>
                    </a>
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                    <h2>Deborah Chavez</h2>
                   <p>GBP <-> USD</p>
                    </a>
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                    <h2>Theresa Moore</h2>
                    <p>GBP <-> USD</p>
                    </a>
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                    <h2>Joan Hart</h2>
                    <p>GBP <-> USD</p>
                    </a>
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                    <h2>Venkman</h2>
                    <p>GBP <-> USD</p>
                    </a>
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                    <h2>Venkman</h2>
                   <p>GBP <-> USD</p>
                    </a>
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                    <h2>Venkman</h2>
                    <p>GBP <-> USD</p>
                    </a>
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                    <h2>Venkman</h2>
                    <p>GBP <-> USD</p>
                    </a>
            
            
        </div>
    </div>
    
</ion-view>