<ion-view class="green-bg home-content">
<img src="img/logo-white.png"/>
<div class="list">
    <label class="item item-input transparentLabel">
        <input type="text" placeholder="Email Address" style="color:white;">
            </label>
    <label class="item item-input transparentLabel">
        <input type="password" placeholder="Password" style="color:white;">
            </label>
   
</div>
<div class="row responsive-sm" style="margin-top:20px">
    <button ui-sref="signup" class="col col-80 col-offset-10 button button-block button-light lightButton" type="submit">Sign Up</button>
    
</div>
</ion-view>