/* Empty. Add your own CSS if you like */
.green-bg{
    background-color:#40c973;
}

.lightButton{
    color : #40c973;
    
}

.transparentButton{
    color:white;
    border-width:1px;
    border-color: white;
    background-color: transparent;
}
.transparentLabel{
    background-color: transparent;
    border-top-width:0px;
    border-bottom-width:1px;
    color:white !important;
}

.bottom-div{
    position: fixed;
    bottom: 100px;
    padding : 20px !important:
}
.home-content{
    text-align: center;
    padding-top: 150px;
}